name: test

on:
  push:
    branches-ignore:
      - master

jobs:
  build-test:
    runs-on: macOS-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: switch xcode version
      run: sudo xcode-select --switch /Applications/Xcode_13.2.1.app
    
    - uses: actions/cache@v2
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pods-

    - name: install depencies
      run: pod install
    
    - name: import application certificate
      id: keychain
      uses: apple-actions/import-codesign-certs@v1
      with: 
        p12-file-base64: ${{ secrets.CERTIFICATES_P12 }}
        p12-password: ${{ secrets.CERTIFICATES_P12_PASSWORD }}

    - name: import installer certificate
      uses: apple-actions/import-codesign-certs@v1
      with:
        create-keychain: false
        keychain-password: ${{ steps.keychain.outputs.keychain-password }}
        p12-file-base64: ${{ secrets.CERTIFICATES_INSTALLER_P12 }}
        p12-password: ${{ secrets.CERTIFICATES_INSTALLER_P12_PASSWORD }}

    - name: build Fire.app
      run: ./scripts/a_build_app.sh

    - name: build FireInstaller.pkg
      run: ./scripts/b_build_installer.sh

    - name: generate appcast.xml
      env:
        sparkle_key: ${{ secrets.sparkle_key }}
      run: ./scripts/d_build_appcast.sh

    - uses: actions/upload-artifact@v2
      with:
        name: dist
        path: ./dist/
        retention-days: 3